# URL del backend local
EXPO_PUBLIC_BACKEND_LOCAL=
# URL del backend en la nube (producción)
EXPO_PUBLIC_BACKEND_URL_PROD=

# API Key para autenticar con el backend (opcional en desarrollo)
EXPO_PUBLIC_API_KEY_FILTER=
